{% extends "homepage/manage.html" %}


{% block body %}
<div class="container-fluid m-0 p-0">
    <h3 class="mt-2">Login</h3>
    <div class="card" id="bForm">
        <div class="card-body">
          <form action="" method="post" id="rForm">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-info btn-sm" type="submit">Enviar<i class="bi bi-arrow-up-right"></i></button>
          </form>                      
        </div>
    </div>
</div>    
{% endblock %}